/app/*.js
*.js

*.css
/app/contract/*.css
/app/contract/*.*.css
/app/contract/*.*.*.css
/app/contract/*.*.*.css
/app/home/*.css
/app/shared/my-drawer-item/*.*.*.css
/app/shared/my-drawer/*.*.*.css
/app/*.css
/app/*.*.css

/node_modules
/platforms

/package-lock.json
