<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <StackLayout orientation="horizontal"
                 ios:horizontalAlignment="center"
                 android:horizontalAlignment="center">
        <StackLayout height="30" class="header-item">
            <Image src="res://primobilelogo" width="30" height="30" class="action-image"></Image>
        </StackLayout>
        <StackLayout height="30" class="header-item" style="margin-left: 16px;">
            <Label text="CONTRAT" class="action-label"></Label>
            <Label text="N° 16-32752"></Label>
        </StackLayout>
    </StackLayout>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Contract'"></MyDrawer>
    </StackLayout>

    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->

    <DockLayout tkMainContent>
        <GridLayout columns="*, *, *, *, *" rows="auto" dock="bottom" class="bottom-bar" height="50">
            <StackLayout row="0" col="0" class="bottom-bar-icon-container" height="50">
                <Image src="res://menu2" width="30" height="30" (tap)="onMenuButtonTap()"></Image>
            </StackLayout>
            <StackLayout row="0" col="1" class="bottom-bar-icon-container" height="50">
                <Image src="res://emergency" width="30" height="30"></Image>
            </StackLayout>
            <StackLayout row="0" col="2" class="bottom-bar-icon-container" height="50">
                <Image src="res://home" width="30" height="30" (tap)="onHomeButtonTap()"></Image>
            </StackLayout>
            <StackLayout row="0" col="3" class="bottom-bar-icon-container" height="50"
                         (tap)="onNotificationButtonTap()">
                <Image src="res://support" width="30" height="30"></Image>
            </StackLayout>
            <StackLayout row="0" col="4" class="bottom-bar-icon-container" height="50">
                <Image src="res://notification" width="30" height="30"></Image>
            </StackLayout>
        </GridLayout>

        <GridLayout dock="top" class="page page-content">
            <!--
            The TabView component provides a simple way to navigate between different views by
            tapping on some of the tabs or by swiping between the views.
            Learn more about the TabView component in this documentation article:
            http://docs.nativescript.org/angular/code-samples/ui/tab-view
            -->

            <TabView (selectedIndexChanged)="onSelectedIndexChanged($event)" sdkExampleTitle sdkToggleNavButton>
                <!--
                To add a new TabView item, add a new layout component with a tabItem Angular directive.
                Assign the tabItem directive an object that declares the tab item button's title and icon source.
                -->
                <StackLayout *tabItem="{title: 'Infos', iconSource: getIconSource('infos')}">
                    <Infos></Infos>
                </StackLayout>
                <StackLayout *tabItem="{title: 'Docs', iconSource: getIconSource('docs')}">
                    <Docs></Docs>
                </StackLayout>
                <StackLayout *tabItem="{title: 'Courriers', iconSource: getIconSource('couriers')}">
                    <Couriers></Couriers>
                </StackLayout>
                <StackLayout *tabItem="{title: '', iconSource: 'res://declareclaim'}">
                </StackLayout>
            </TabView>
        </GridLayout>
    </DockLayout>
</RadSideDrawer>