
<ScrollView>
    <StackLayout style="margin-top: 20px; margin-left: 20px">
        <GridLayout rows="auto, auto, auto, auto, auto, auto, auto" columns="*, *">
            <StackLayout row="0" col="0">
                <Label text="Date d'effet"></Label>
            </StackLayout>
            <StackLayout row="0" col="1">
                <Label text="01/03/2017"></Label>
            </StackLayout>
            <StackLayout row="1" col="0">
                <Label text="Échéance principale"></Label>
            </StackLayout>
            <StackLayout row="1" col="1">
                <Label text="01/03"></Label>
            </StackLayout>
            <StackLayout row="2" col="0">
                <Label text="Statut"></Label>
            </StackLayout>
            <StackLayout row="2" col="1">
                <Label text="En cours"></Label>
            </StackLayout>
            <StackLayout row="3" col="0">
                <Label text="Lieu de garage"></Label>
            </StackLayout>
            <StackLayout row="3" col="1">
                <Label text="93600 Aulnay sous bois"></Label>
            </StackLayout>
            <StackLayout row="4" col="0">
                <Label text="Prix annuel"></Label>
            </StackLayout>
            <StackLayout row="4" col="1">
                <Label text="3.000 €"></Label>
            </StackLayout>
            <StackLayout row="5" col="0">
                <Label text="Prix mensuel"></Label>
            </StackLayout>
            <StackLayout row="5" col="1">
                <Label text="250 €"></Label>
            </StackLayout>
            <StackLayout row="6" col="0">
                <Label text="Formule"></Label>
            </StackLayout>
            <StackLayout row="6" col="1">
                <Label text="Tout risque"></Label>
            </StackLayout>
        </GridLayout>

        <StackLayout>
            <StackLayout class="section-title">
                <Label text="CONDUCTEUR"></Label>
            </StackLayout>
            <GridLayout rows="auto, auto, auto, auto, auto, auto, auto" columns="*, *">
                <StackLayout row="0" col="0">
                    <Label text="Principal"></Label>
                </StackLayout>
                <StackLayout row="0" col="1" style="margin-top: 8px; font-weight: 700;">
                    <Label text="Franck Dunant"></Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>

        <StackLayout>
            <StackLayout class="section-title">
                <Label text="VÉHICULE"></Label>
            </StackLayout>
            <GridLayout rows="auto, auto, auto, auto, auto, auto, auto" columns="*, *">
                <StackLayout row="0">
                    <Label text="Marque"></Label>
                </StackLayout>
                <StackLayout row="0" col="1">
                    <Label text="DS Automobiles"></Label>
                </StackLayout>
                <StackLayout row="1" col="0">
                    <Label text="Modèle"></Label>
                </StackLayout>
                <StackLayout row="1" col="1">
                    <Label text="DS 3"></Label>
                </StackLayout>
                <StackLayout row="2" col="0">
                    <Label text="Version"></Label>
                </StackLayout>
                <StackLayout row="2" col="1">
                    <Label text="Performance"></Label>
                </StackLayout>
                <StackLayout row="3" col="0">
                    <Label text="Puissance fiscale"></Label>
                </StackLayout>
                <StackLayout row="3" col="1">
                    <Label text="11"></Label>
                </StackLayout>
                <StackLayout row="4" col="0">
                    <Label text="Immatriculation"></Label>
                </StackLayout>
                <StackLayout row="4" col="1">
                    <Label text="JP-088-DS"></Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>

        <StackLayout>
            <StackLayout class="section-title">
                <Label text="GARANTIES"></Label>
            </StackLayout>
            <GridLayout rows="auto, auto, auto, auto, auto, auto, auto, auto, auto, auto" columns="*, *" class="bold">
                <StackLayout row="0" col="0" >
                    <Label text="Responsabilité Civile"></Label>
                </StackLayout>
                <StackLayout row="1" col="0" >
                    <Label text="Défense / recours"></Label>
                </StackLayout>
                <StackLayout row="2" col="0" >
                    <Label text="Attentat"></Label>
                </StackLayout>
                <StackLayout row="2" col="1" >
                    <Label text="Franchise 400€"></Label>
                </StackLayout>
                <StackLayout row="3" col="0" >
                    <Label text="Incendie"></Label>
                </StackLayout>
                <StackLayout row="3" col="1" >
                    <Label text="Franchise 400€"></Label>
                </StackLayout>
                <StackLayout row="4" col="0">
                    <Label text="Vol"></Label>
                </StackLayout>
                <StackLayout row="4" col="1">
                    <Label text="Franchise 40€"></Label>
                </StackLayout>
                <StackLayout row="5" col="0">
                    <Label text="Bris de glace"></Label>
                </StackLayout>
                <StackLayout row="5" col="1">
                    <Label text="Franchise 0€"></Label>
                </StackLayout>
                <StackLayout row="6" col="0">
                    <Label text="Forces de la nature"></Label>
                </StackLayout>
                <StackLayout row="7" col="0">
                    <Label text="Catatrophes Naturelles"></Label>
                </StackLayout>
                <StackLayout row="8" col="0">
                    <Label text="Catastrophes Technologiques"></Label>
                </StackLayout>
                <StackLayout row="9" col="0">
                    <Label text="Assistance"></Label>
                </StackLayout>
                <StackLayout row="9" col="1">
                    <Label text="0km"></Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>