<ActionBar class="action-bar">
    <StackLayout orientation="horizontal"
                 ios:horizontalAlignment="center"
                 android:horizontalAlignment="center">
        <StackLayout height="30" class="header-item">
            <Image src="res://primobilelogo" width="30" height="30" class="action-image"></Image>
        </StackLayout>
        <StackLayout height="30" class="header-item" style="margin-left: 16px;">
            <Label text="PAY AS I DRIVE" class="action-label"></Label>
        </StackLayout>
    </StackLayout>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'PayDrive'"></MyDrawer>
    </StackLayout>

    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <DockLayout tkMainContent>

        <GridLayout columns="*, *, *, *, *" rows="auto" dock="bottom" class="bottom-bar" height="50">
            <StackLayout row="0" col="0" class="bottom-bar-icon-container" height="50">
                <Image src="res://menu2" width="30" height="30" (tap)="onMenuButtonTap()"></Image>
            </StackLayout>
            <StackLayout row="0" col="1" class="bottom-bar-icon-container" height="50">
                <Image src="res://emergency" width="30" height="30"></Image>
            </StackLayout>
            <StackLayout row="0" col="2" class="bottom-bar-icon-container" height="50">
                <Image src="res://home" width="30" height="30" (tap)="onHomeButtonTap()"
                       class="bottom-bar-icon"></Image>
            </StackLayout>
            <StackLayout row="0" col="3" class="bottom-bar-icon-container" height="50">
                <Image src="res://support" width="30" height="30"></Image>
            </StackLayout>
            <StackLayout row="0" col="4" class="bottom-bar-icon-container" height="50">
                <Image src="res://notification" width="30" height="30"></Image>
            </StackLayout>
        </GridLayout>
        <ScrollView dock="top">
            <GridLayout class="page page-content">
                <StackLayout>
                    <CardView class="cardStyle" margin="10" elevation="40" radius="1">
                        <GridLayout rows="10,30,30,80, auto, auto,10" columns="10,40, *, 30,10">
                            <Image src="res://paid" stretch="aspectFit" verticalAlignment="stretch" col="1" row="1"
                                   rowSpan="2"></Image>
                            <Label class="createdBy text-left" horizontalAlignment="left" [text]="'item.CreatedBy'"
                                   row="1"
                                   col="2" textWrap="true"></Label>
                            <Label class="createdOn text-left" horizontalAlignment="left" [text]="'item.UpdatedDate'"
                                   row="2" col="2"></Label>
                            <Image src="res://carnaked" stretch="aspectFit"
                                   colSpan="3" col="1" row="3"></Image>
                            <Label horizontalAlignment="left" [text]="'item.Title'" colSpan="3" row="4" textWrap="true"
                                   col="1"></Label>
                            <Label horizontalAlignment="left" [text]="'item.Summary'" textWrap="true" col="1" row="5"
                                   colSpan="3"></Label>
                        </GridLayout>
                    </CardView>
                    <CardView class="cardStyle" margin="10" elevation="40" radius="1">
                        <GridLayout rows="10,30,30,80, auto, auto,10" columns="10,40, *, 30,10">
                            <Image src="res://paid" stretch="aspectFit" verticalAlignment="stretch" col="1" row="1"
                                   rowSpan="2"></Image>
                            <Label class="createdBy text-left" horizontalAlignment="left" [text]="'item.CreatedBy'"
                                   row="1"
                                   col="2" textWrap="true"></Label>
                            <Label class="createdOn text-left" horizontalAlignment="left" [text]="'item.UpdatedDate'"
                                   row="2" col="2"></Label>
                            <Image src="res://carnaked" stretch="aspectFit"
                                   colSpan="3" col="1" row="3"></Image>
                            <Label horizontalAlignment="left" [text]="'item.Title'" colSpan="3" row="4" textWrap="true"
                                   col="1"></Label>
                            <Label horizontalAlignment="left" [text]="'item.Summary'" textWrap="true" col="1" row="5"
                                   colSpan="3"></Label>
                        </GridLayout>
                    </CardView>
                    <FAB (tap)="fabTap()" icon="res://chatbot" rippleColor="#f1f1f1"
                         class="fab-button"></FAB>
                </StackLayout>
            </GridLayout>
        </ScrollView>
    </DockLayout>
</RadSideDrawer>