<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Sinistre"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Claim'"></MyDrawer>
    </StackLayout>

    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <GridLayout class="page page-content" tkMainContent>
        <StackLayout>
            <RadDataForm [source]="claimEvent" tkExampleTitle tkToggleNavButton>
                <TKEntityProperty tkDataFormProperty name="natureCode" displayName="Nature du sinistre" index="0"
                                  [valuesProvider]="natureNames">
                    <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
                </TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="lossDate" displayName="Date de survenance" index="1">
                    <TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
                </TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="lossTime" displayName="Heure de survenance" index="2">
                    <TKPropertyEditor tkEntityPropertyEditor type="TimePicker"></TKPropertyEditor>
                </TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="circumstance" displayName="Circonstance du sinistre"
                                  index="3">
                    <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                </TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="description" displayName="Lieu du sinistre" index="4">
                    <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                </TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="isThirdPartyPresent" displayName="Présence d'un tiers"
                                  index="5">
                    <TKPropertyEditor tkEntityPropertyEditor type="Switch"></TKPropertyEditor>
                </TKEntityProperty>
            </RadDataForm>
            <Button text="Suivant" (tap)="onTap()"
                    horizontalAlignment="stretch"></Button>
        </StackLayout>
    </GridLayout>
</RadSideDrawer>